<html>
    <head>
        <title>{{title}} 汇付宝收银台</title>
        <link rel="stylesheet" href="/public/css/main.css"/>
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class="mtest">母版页cashier.njk</div>
        {% block body %}{% endblock %}
        <hr/>
        {% block endscripts %}{% endblock %}
    </body>
</html>